/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */ 
body {
    font-family: 'Roboto', sans-serif;
    background-color: #131313;
}

img {
    width: 100%;
}

.wrapper {
    color: white;
    width: 100%;
}

/* SEARCH-BAR */
.search-bar {
    padding: 15px 30px;
    background-image: linear-gradient(180deg, black, #131313);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Logo*/
.logo img {
    width: 170px;
}

/* Nav-bar */
.nav-bar {
    color: white;
    display: flex;
    align-items: center;
}

.nav-bar input,
.nav-bar button {
    padding: 5px;
    border: none;
}

.nav-bar input {
    margin: 0 10px;
    background-color: rgba(0 , 0, 0, 0);
    color: white;
    border-bottom: 1px solid rgb(54, 54, 54);
}

.nav-bar button {
    background-color: rgba(0 , 0, 0, 0);
    color: white;
    cursor: pointer;
}


.nav-bar input:focus,
.nav-bar button:focus {
    outline: none;
}

/* nav-movie-tv */
.nav-movie-tv {
    flex-grow: 1;
    margin-left: 50px;
}

.nav-movie-tv .menu{
    list-style-type: none;
    display: flex;
}

.nav-movie-tv li {
    margin: 0 10px;
    cursor: pointer;
    font-size: 18px;
}

.nav-movie-tv .genre {
    font-size: 13px;
}

/* MOVIE_CONTAINER */
.movie-container {
    padding: 20px;
}

/* MOvie-content & TV-content */
.movie-content .menu,
.tv-content .menu {
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.tv-content {
    margin-top: 20px;
}

.menu .single-movie {
    margin: 10px;
    width: 300px;
    height: 450px;
    background-color: black;
    box-shadow: 0 0 10px rgb(54, 54, 54);
    position: relative;
    overflow: hidden;
}

.info-menu {
    padding: 10px;
    list-style-type: none;
}

.lang {
    display: flex;
    align-items: center;
}

.lang img{
    width: 25px;
    margin-left: 10px;
}

.initial {
    text-align: center;
}

.single-movie li {
    padding: 5px 0;
}

.single-movie .key-visual {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
}

.key-visual img {
    height: 450px;
}

.single-movie:hover .key-visual {
    display: none;
}

.stars {
    color: yellow;
    padding: 0 2px;
}