/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */ 
body {
    font-family: 'Roboto', sans-serif;
    background-color: black;
}

.wrapper {
    color: white;
    width: 100%;
}

/* SEARCH-BAR */
.search-bar {
    padding: 15px 30px;
    border-bottom: 1px solid rgb(54, 54, 54);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Title */
h1 {
    color: red;
    font-size: 35px;
}

/* Nav-bar */
.nav-bar {
    color: white;
    display: flex;
    align-items: center;
}

.nav-bar input,
.nav-bar button {
    padding: 5px;
    border: none;
}

.nav-bar input {
    margin: 0 10px;
    background-color: black;
    color: white;
    border-bottom: 1px solid rgb(54, 54, 54);
}

.nav-bar button {
    background-color: black;
    color: white;
    cursor: pointer;
}


.nav-bar input:focus,
.nav-bar button:focus {
    outline: none;
}

/* MOVIE_CONTAINER */
.movie-container {
    padding: 20px;
}

/* MOvie-content & TV-content */
.movie-content .menu,
.tv-content .menu {
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.tv-content {
    margin-top: 20px;
}

h2 {
    margin-left: 25px;
}
.menu .single-movie {
    margin: 10px;
    width: 300px;
    border: 1px solid rgb(54, 54, 54);
}

.info-menu {
    padding: 10px;
    list-style-type: none;
}

.info-menu li {
    padding: 5px 0;
}

.lang {
    display: flex;
    align-items: center;
}

.lang img{
    width: 25px;
    margin-left: 10px;
}

.initial {
    text-align: center;
}