<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolflix</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">

    <!-- FONTAWESOME -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">

    <!-- CSS -->
    <link rel="stylesheet" href="css/style.css">

    <!-- AJAX -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>

    <!-- VUE -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

</head>
<body>
        
    <div id="root">
        <div class="wrapper">

            <!-- SEARCH-BAR -->
            <section class="search-bar">

                <!--  Logo -->
                <div class="logo">
                    <img src="img/c072857f28ffed69c9266a55183f4c20.png" alt="Boolflix">
                </div>
                <!-- End Logo -->

                <!-- Nav-movie-tv -->
                <div class="nav-movie-tv">

                    <ul class="menu">

                        <li class="genre" v-for="(type, index) in arrayType" @click="choiceType(index)">
                            {{ type }}
                        </li>

                    </ul>
                </div>
                <!-- End Nav-movie-tv -->

                <!-- Selected -->
                <div class="selected">
                    <label for="type_genre"></label>
                    <select class="genre_type" name="genre" id="type_genre" v-model="selectedGenre">
                        <option value="">Boolflix Original</option>
                        <option v-for="type in typeGenres" :value="type">{{ type }}</option>
                    </select>
                </div>
                <!-- Selected -->

                <!-- Nav-bar -->
                <div class="nav-bar">

                    <label for="search"></label>
                    <input
                        id="search" 
                        type="text" 
                        placeholder="Search"
                        v-model="title"
                        @keyup.enter="searchMovieTv">
                    <button @click="searchMovieTv"><i class="fas fa-search"></i></button>

                </div>
                <!-- Nav-bar -->

                <!-- Notice -->
                <div class="notice">
                    <i class="fas fa-bell"></i>
                    <span class="numb-notice">2</span>
                </div>
                <!-- Notice -->

                <!-- Account -->
                <div class="account">
                    <img src="img/account.png" alt="account">
                    <i class="fas fa-sort-down"></i>
                </div>
                <!-- End account -->

            </section>
            <!-- END SEARCH-BAR -->

            <!-- MOVIE-CONTAINER -->
            <section class="movie-container">

                <!-- Movie-content -->
                <div class="movie-content" v-if="listMovie.length > 0">                  
                         
                    <h2>MOVIE</h2>  

                    <ul class="menu">

                        <!-- Single-movie -->
                        <li class="single-movie" 
                        v-for=" movie in listMovie "
                        v-if="selectedGenre.length == 0 || movie.genres.includes(selectedGenre) ">

                            <ul class="info-menu">

                                <!-- Poster -->
                                <li  class="key-visual" v-if="movie.poster_path">
                                        <img :src="'https://image.tmdb.org/t/p/w300' + movie.poster_path" :alt="movie.title">
                                </li>

                                <li v-else>
                                    <div class="no-poster">
                                        <img class="key-visual" src="img/c072857f28ffed69c9266a55183f4c20.png" alt="no-poster">
                                    </div>
                                </li>
                                <!--End Poster -->

                                <!-- Title Movie -->
                                <li>
                                    Title: <span>{{ movie.title }}</span>
                                </li>

                                <li v-if="movie.title != movie.original_title">
                                    Original Title: <span>{{ movie.original_title }}</span>
                                </li>
                                <!-- End Title Movie -->

                                <!-- Language Movie -->
                                <li class="lang">
                                    <span>Language: </span><span ><img :src="'img/' + movie.original_language + '.svg'" :alt="movie.original_language"></span>
                                </li>
                                <!-- End Language Movie -->

                                <!-- Vote Average -->
                                <li>
                                    Vote: 
                                    <span v-if="movie.vote_average > 0" >
                                        <i class="fas fa-star stars" v-for="star in Math.ceil(movie.vote_average / 2)"></i>
                                    </span>
                                    <span v-else="movie.vote_average = 0">unavailable</span>
                                </li>
                                <!-- End Vote Average -->

                                <!-- Overview -->
                                <li>
                                    Overview:
                                    <span v-if="movie.overview.length < 200">{{ movie.overview.substring(0 , 200 ) }}</span>
                                    <span v-else>{{ movie.overview.substring(0 , 200 ) + '...' }}</span>
                                </li>
                                <!-- End Overview -->

                                <!-- Cast -->
                                <li>
                                    Cast:
                                    <span v-for="cast in movie.cast" >
                                        {{ cast.name }} , 
                                    </span>
                                    ...
                                </li>
                                <!-- End Cast -->

                                <!-- Genres -->
                                <li>
                                    Genres:
                                    <span v-for="genre in movie.genres">
                                        {{ genre.name }}
                                    </span>
                                </li>
                                <!-- End Genres -->
                                

                            </ul>

                        </li>
                        <!--End Single-movie -->

                    </ul>

                </div>
                <!-- Movie-content -->

                <!-- TV-content -->
                <div class="tv-content" v-if="listTvSeries.length > 0">   

                    <h2>TV SERIES</h2>

                    <ul class="menu">

                        <!-- Single-movie -->
                        <li class="single-movie" 
                        v-for=" tv in listTvSeries "
                        v-if="selectedGenre.length == 0 || selectedGenre == name in tv.genres ">

                            <ul class="info-menu">

                                <!-- Poster -->
                                <li  class="key-visual" v-if="tv.poster_path">
                                    <img :src="'https://image.tmdb.org/t/p/w300' + tv.poster_path" :alt="tv.name">
                                </li>

                                <li v-else>
                                    <div class="no-poster">
                                        <img class="key-visual" src="img/c072857f28ffed69c9266a55183f4c20.png" alt="no-poster">
                                    </div>
                                </li>
                                <!-- End Poster -->

                                <!-- Title Tv Series-->
                                <li>
                                    Title: <span>{{ tv.name }}</span>
                                </li>

                                <li v-if="tv.name != tv.original_name">
                                    Original Title: <span>{{ tv.original_name }}</span>
                                </li>
                                <!-- End Title Tv Series -->

                                <!-- Language Tv Series -->
                                <li class="lang">
                                    <span>Language: </span><span ><img :src="'img/' + tv.original_language + '.svg'" :alt="tv.original_language"></span>
                                </li>
                                <!-- End Language Tv Series -->

                                <!-- Vote Avereage Tv Series -->
                                <li>
                                    Vote: 
                                    <span v-if="tv.vote_average > 0">
                                        <i class="fas fa-star stars" v-for="star in Math.ceil(tv.vote_average / 2)"></i>
                                    </span>
                                    <span v-else="tv.vote_average = 0">unavailable</span>
                                </li>
                                <!-- End Vote average Tv Series -->

                                <!-- Overview -->
                                <li>
                                    Overview:
                                    <span v-if="tv.overview.length < 200">{{ tv.overview.substring(0 , 200 ) }}</span>
                                    <span v-else>{{ tv.overview.substring(0 , 200 ) + '...' }}</span>
                                </li>
                                <!-- End Overview -->

                                <!-- Cast -->
                                <li>
                                    Cast:
                                    <span v-for="cast in tv.cast" >
                                        {{ cast.name }} ,
                                    </span>
                                    ...
                                </li> 
                                <!-- End Cast -->

                                <li>
                                    Genres:
                                    <span v-for="genre in tv.genres">
                                        {{ genre.name }}
                                    </span>
                                </li>

                            </ul>

                        </li>
                        <!--End Single-movie -->

                    </ul>

                </div>
                <!-- TV-content -->

            </section>
            <!-- MOVIE-CONTAINER -->

        </div>
    </div>
    
    <!-- JAVASCRIPT -->
    <script type="text/javascript" src="js/script.js"></script>

</body>
</html>