<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolflix</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">

    <!-- FONTAWESOME -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">

    <!-- CSS -->
    <link rel="stylesheet" href="css/style.css">

    <!-- AJAX -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>

    <!-- VUE -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

</head>
<body>
        
    <div id="root">
        <div class="wrapper">

            <!-- SEARCH-BAR -->
            <section class="search-bar">

                <!-- Title -->
                <div>
                    <h1>BOOLFLIX</h1>
                </div>
                <!-- Title -->

                <!-- Nav-bar -->
                <div class="nav-bar">

                    <label for="search"></label>
                    <input
                        id="search" 
                        type="text" 
                        placeholder="Search"
                        v-model="title"
                        @keyup.enter="searchMovie">
                    <button @click="searchMovie"><i class="fas fa-search"></i></button>

                </div>
                <!-- Nav-bar -->

            </section>
            <!-- END SEARCH-BAR -->

            <!-- MOVIE-CONTAINER -->
            <section class="movie-container">

                <!-- Movie-content -->
                <div class="movie-content" v-if="listMovie.length > 0">
                    
                    
                    <h2>MOVIE</h2>
                            

                    <ul class="menu">

                        <!-- Single-movie -->
                        <li class="single-movie" v-for=" movie in listMovie[0] ">

                            <ul class="info-menu">

                                <li>
                                    Title: <span>{{ movie.title }}</span>
                                </li>

                                <li>
                                    Original Title: <span>{{ movie.original_title }}</span>
                                </li>

                                <li class="lang">
                                    <span>Language: </span><span ><img :src="'flags/' + movie.original_language + '.svg'" :alt="movie.original_language"></span>
                                </li>

                                <li>
                                    <span>Vote: </span>{{ movie.vote_average }}
                                </li>

                            </ul>

                        </li>
                        <!--End Single-movie -->

                    </ul>

                </div>
                <!-- Movie-content -->

                <!-- TV-content -->
                <div class="tv-content" v-if="listTvSeries.length > 0">
                    
                    
                    <h2>TV Series</h2>
                            

                    <ul class="menu">

                        <!-- Single-movie -->
                        <li class="single-movie" v-for=" tv in listTvSeries[0] ">

                            <ul class="info-menu">

                                <li>
                                    Title: <span>{{ tv.name }}</span>
                                </li>

                                <li>
                                    Original Title: <span>{{ tv.original_name }}</span>
                                </li>

                                <li class="lang">
                                    <span>Language: </span><span ><img :src="'flags/' + tv.original_language + '.svg'" :alt="tv.original_language"></span>
                                </li>

                                <li>
                                    <span>Vote: </span>{{ tv.vote_average }}
                                </li>

                            </ul>

                        </li>
                        <!--End Single-movie -->

                    </ul>

                </div>
                <!-- TV-content -->

                <div class="initial" v-else>SEARCH YOUR MOVIE OR TV SERIES</div>

            </section>
            <!-- MOVIE-CONTAINER -->

        </div>
    </div>
    
    <!-- JAVASCRIPT -->
    <script type="text/javascript" src="js/script.js"></script>

</body>
</html>